<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjhd.drawandguess.mapper.ThemeMapper">
  <resultMap id="BaseResultMap" type="com.tjhd.drawandguess.model.Theme">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_theme
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_theme
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tjhd.drawandguess.model.Theme">
    insert into t_theme (id, title)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tjhd.drawandguess.model.Theme">
    insert into t_theme
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tjhd.drawandguess.model.Theme">
    update t_theme
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tjhd.drawandguess.model.Theme">
    update t_theme
    set title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countAll" resultType="java.lang.Integer">
        select count(*) from t_theme
  </select>
  <select id="selectAll" resultType="com.tjhd.drawandguess.model.Theme">
    select
    <include refid="Base_Column_List" />
    from t_theme
  </select>
  <select id="selectAllName" resultType="java.lang.String">
    select title from t_theme
  </select>
  <select id="selectByTitle" resultType="com.tjhd.drawandguess.model.Theme" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from t_theme
    where title=#{title}
  </select>
  <insert id="insertByTitle" parameterType="java.lang.String">
    insert into t_theme (title) values (#{title})
  </insert>
  <select id="selectHasNObj" parameterType="java.lang.Integer" resultType="com.tjhd.drawandguess.model.Theme">
    select <include refid="Base_Column_List"/>
    from t_theme t1
    join (
        SELECT t.c,theme
        from (
            SELECT COUNT(*) c,theme
            from t_object
            GROUP BY theme
        ) t
        where t.c>=#{amount}
    ) t2
    on t1.id=t2.theme;
  </select>
</mapper>